@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
:root{
    --dark-blue :#0A3871;
    --gray:#495057;

}
body{
    overflow: hidden;
    width: 100vw;
    height: 100%;
}
.logo{
    position: absolute;
    z-index: 2;

}
.main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.encriptador{
    display: flex;
    width: auto;
    position: relative;
    width: 75vw;
}

.encriptador__texto{
    border: none;
    outline: none;
    width: 100%;
    max-width: 688px;
    min-width: 200px;
    height: 288px;
    resize: none;
    margin: 168px 0 0 14vw;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 32px;
    color: var(--dark-blue);


}
.encriptador__texto::placeholder{
    color:var(--dark-blue);
    font-size: 32px;

}
button{
    min-width: 100px;
    max-width: 328px;
    width: 100%;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
    border: 2px solid var(--dark-blue);
}
.encriptador__parrafo{
    margin-left: 14vw;
    position: absolute;
    bottom: 155px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--gray);

}
.caja__botones{
    gap: 10px;
    max-width: 680px;
    width: calc(100% - 14vw);
    margin-left: 14vw;
    position: absolute;
    bottom: 0px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    z-index: 4;

}
#btn__encriptar{
    background-color: var(--dark-blue);
    color: #ffffff;
    flex-grow: 1;
}
#btn__desencriptar{
    color: var(--dark-blue);
    flex-grow: 1;
}

.desencriptador{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25vw;
    margin-right: 5vw;
    

}
.desencriptador__caja{
    
    height: 100vh;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desencriptador__texto{
    width: 100%;
    min-width: 100px;
    max-width: 336px;
    height: 70%;
    margin-top: 60px;
    outline: none;
    border: none;
    
}

#btn__copiar{
    position: absolute;
    bottom: 72px;
    color:var(--dark-blue);
    flex-grow: 1;
}
.muneco{
    width: 100%;
    max-height:250px ;

}
.desencriptador__imagen{
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    margin: auto;
}
.desencriptador__imagen p:nth-of-type(1){
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--gray);


}
.desencriptador__imagen p:nth-of-type(2){
    color:var(--gray);
    font-size: 16px;
    text-align: center;
}